<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Package visibility for the bundled players. Each plugin owns its ids. -->
    <!-- Launcher visibility uses the same MAIN / LAUNCHER filter as queryIntentActivities. -->
    <queries>
        <package android:name="org.azahar_emu.azahar" />
        <package android:name="io.github.lime3ds.android" />
        <package android:name="me.magnum.melonds" />
        <package android:name="me.magnum.melonds.nightly" />
        <package android:name="app.gamenative" />
        <package android:name="app.gamenative.gold" />
        <package android:name="com.limelight" />
        <!-- :plugins:emulators -->
        <package android:name="com.fastemulator.gba" />
        <package android:name="com.fastemulator.gbc" />
        <package android:name="it.dbtecno.pizzaboygbapro" />
        <package android:name="it.dbtecno.pizzaboygba" />
        <package android:name="it.dbtecno.pizzaboypro" />
        <package android:name="it.dbtecno.pizzaboy" />
        <package android:name="com.explusalpha.GbaEmu" />
        <package android:name="com.explusalpha.GbcEmu" />
        <package android:name="com.explusalpha.NesEmu" />
        <package android:name="com.explusalpha.Snes9xPlus" />
        <package android:name="org.mupen64plusae.v3.fzurita.pro" />
        <package android:name="org.mupen64plusae.v3.fzurita" />
        <package android:name="org.mupen64plusae.v3.fzurita.amazon" />
        <package android:name="org.mupen64plusae.v3.alpha" />
        <package android:name="org.dolphinemu.dolphinemu" />
        <package android:name="org.dolphinemu.mmjr" />
        <package android:name="org.mm.jr" />
        <package android:name="dev.eden.eden_emulator" />
        <package android:name="dev.legacy.eden_emulator" />
        <package android:name="com.github.stenzek.duckstation" />
        <package android:name="xyz.aethersx2.android" />
        <package android:name="xyz.aethersx2.tturnip" />
        <package android:name="xyz.aethersx2.cturnip" />
        <package android:name="com.armsx2" />
        <package android:name="com.armsx2.nightly" />
        <package android:name="org.ppsspp.ppssppgold" />
        <package android:name="org.ppsspp.ppsspp" />
        <package android:name="com.explusalpha.MdEmu" />
        <package android:name="it.dbtecno.pizzaboyscpro" />
        <package android:name="it.dbtecno.pizzaboyscbasic" />
        <package android:name="org.devmiyax.yabasanshioro2.pro" />
        <package android:name="org.devmiyax.yabasanshioro2" />
        <package android:name="com.explusalpha.SaturnEmu" />
        <package android:name="com.flycast.emulator" />
        <package android:name="io.recompiled.redream" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".FoldcadeApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Foldcade"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity
            android:name=".PrimaryHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="app.foldcade.primary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CompanionHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="app.foldcade.companion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SECONDARY_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StandInActivity"
            android:exported="false"
            android:launchMode="standard"
            android:taskAffinity="app.foldcade.standin" />

        <activity
            android:name=".LicensesActivity"
            android:exported="false"
            android:launchMode="standard" />

        <!-- Players open RomM downloads through this provider. Not exported: a player gets
             one URI at a time through FLAG_GRANT_READ_URI_PERMISSION on the launch intent. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.romm.cache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/romm_cache_paths" />
        </provider>
    </application>
</manifest>
